@import 'pages/index.module.scss';

:root {
  color: black;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  h1, h2 {
    text-align: center;
  }
}
